html{
    height: 100%;
    width: 100%;
    touch-action: none;
}
*{
    user-select: none;
    font-size: 16px;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: black;
    color:white;
    overflow: hidden;
}
#ctlr{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#ctlr>*{
    text-align: center;
    height: 100%;
}


#wheel{
    width: 30vw;
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#joywrap{
    border-radius: 50%;
    width: 30vw;   
    height: 30vw;
    background-color: gray;
}

#joystick{
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
    background-color: black;
    position: relative;
    top:7.5vw;
    left:7.5vw;
}


#menu{
    width: 15vw;
    height: 30vw;
    margin: 0px 5vw 0px;
    display: flex;
    flex-direction: column;
    align-content:center;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}
#menu>*{
    font-size: 1.5vw;
}

.gear{
    width: 7vw;
    height: 7vw;
    position: relative;
    animation-name: spin;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-color: inherit;
}
.gear::after{
    content: "";
    width: 40%;
    height: 40%;
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: 10;
    background: inherit;
    border-radius: 100%;
}
.tooth{
    width: 24%;
    height: 100%;
    background: gray;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    z-index: 1;
    border-radius: 25%;

}
.tooth:nth-child(2){
    transform: translate(-50%, -50%) rotate(45deg);
}
.tooth:nth-child(3){
    transform: translate(-50%, -50%) rotate(90deg);
}
.tooth:nth-child(4){
    transform: translate(-50%, -50%) rotate(135deg);
}
@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

#battery{
    display: grid;
    grid-template-rows: 2vw 4vw 2vw;
    grid-template-columns: 7.5vw 7.5vw;
    justify-items: center;
}
.btrinfo{
    font-size: 1.5vw;
}
.btrfig{
    width: 2vw;
    height: 3.2vw;
    border: 0.2vw solid whitesmoke;
    border-radius: 0.1vw;
    position: relative;

    background: linear-gradient(to top, green, green 50%, white 10%);

}
.btrfig::after{
    content: "";
    width: 1vw;
    height: 0.25vw;
    background-color: whitesmoke;
    position: absolute;
    top: -0.4vw;
    right: 0.5vw;
    border-top-left-radius: 0.1vw;
    border-top-right-radius: 0.1vw;
}


#enable_sw{
    background-color: red;
    font-size: 1.5vw;
}

#arm{
    width: 30vw;
    height: 30vw;
    display: flex;
    align-content:space-around;
    justify-content: space-around;
    transform:rotate(45deg);
}

#arm>*{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 10vw;
    height: 100%;
    background-color: gray;
    border-radius: 5vw;

}

#arm>*>*{
    width: 9vw;
    height: 9vw;
    margin: 0.5vw;
    border-radius: 50%;
}
#TRIANGLE{
    background-color: blue;
}
#RECTANGLE{
    background-color:green;
}
#CIRCLE{
    background-color: red;
}
#CROSS{
    background-color: yellow;
}


.popup{
    width: 80vw;
    height: 80vh;
    opacity: 0;
    visibility: hidden;
    transition: 0.6s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index:9999;
    background-color: whitesmoke;
    color: black;
    border-radius: 1vw;
    padding: 5vh 5vw;
}
.popup>div{
    background-color: inherit;
}
#setting_head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2.5em;
}
#setting_head>.gear{
    width: 2rem;
    height: 2rem;
}
#setting_body{
    height: calc(100% - 2.5rem);
    overflow-y: scroll;
}
.is_show{
    opacity: 1;
    visibility: visible;
}

fieldset{
    border: 1px solid gray;
    padding: 10px;

}

#port_setting>fieldset{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#port_setting>fieldset>div{
    margin: 0.5em;
}